{% extends "layout.html" %}
{% block content %}

{% if not session.user_id %}
<div class="container" style="color: white;">
    <div class="row">
    <div class="col">
        <br>
        <h1 class="text-center">ReviewMusic</h1>
        <p>
        <br>
        <div class ="text-center">Welcome to ReviewMusic, a place where you can give star-based ratings and comment on your favourite music!</div>
        <p>
        <div class ="text-center">Log in to start discovering new tunes and reviewing your favourites.</div>
        <br>
    </div>
    </div>
<div class="container d-flex justify-content-center" style="color:white;">
    <p>Sign in: <a href="/login">Login</a></p>
</div>
<br>
{% else %}
<div class="container d-flex justify-content-center" style="color: white;">
    <div class="row">
    <div class="col">
        <br>
        <h1 class="text-center">ReviewMusic</h1>
        <p>
        <br>
        <div class ="text-center">Welcome back {{ session.user_name }}!</div>
        <br>
        <a class="center" href="/logout">Kirjaudu ulos</a>
    </div>
    </div>
</div>
{% endif %}

{% endblock %}