<!DOCTYPE html>

<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

<?xml version="1.0" standalone="no"?>

<title>ReviewMusic</title>

<body style="background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);">
    <nav class="navbar navbar-expand-sm navbar-dark">
        <a class="navbar-brand" href="/">ReviewMusic</a>
        <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="/releases">Releases</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/artists">Artists</a>
        </li>
        </ul>
    </nav>
</body>

{% block content %}{% endblock %}
