<!DOCTYPE html>

<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

<title>ReviewMusic</title>

<body  style="background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);">
    <nav class="navbar navbar-expand-sm navbar-dark">
        <a class="navbar-brand" href="/">ReviewMusic</a>
        <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="#">Artists</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Albums</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Songs</a>
        </li>
        </ul>
    </nav>
    <div class="container d-flex justify-content-center">
        <div class="row">
        <div class="col" style="color:white">
            <br>
            <h1 class="text-center">Register</h1>
            <br>
            <form method="post">
                <div class="mb-3">
                    <label for="inputUsername">Username</label>
                    <input type="text" class="form-control" id="inputUsername">
                </div>
                <div class="mb-3">
                    <label for="inputPassword">Password</label>
                    <input type="password" class="form-control" id="Password1">
                </div>
                <div class="mb-3">
                    <label for="inputPassword">Repeat password</label>
                    <input type="password" class="form-control" id="Password2">
                </div>
                <div class="mb-1">
                    <button type="submit" class="btn btn-primary">Register</button>
                </div>
            </form>
        </div>
        </div>
    </div>
</body>