{% extends "layout.html" %}

{% block content %}
<table class="table" style="color: white;">
    <thead>
      <tr>
        <th scope="col">Song</th>
        <th scope="col">Artist</th>
        <th scope="col">Album</th>
        <th scope="col">Year</th>
        <th scope="col">Rating(avg)</th>
        <th scope="col">Reviews</th>
      </tr>
    </thead> 
    <tbody>
      {% for i in release_info %}
      <tr>
        <td>{{i[1]}}</td>
        <td>{{i[2]}}</td>
        <td>{{i[3]}}</td>
        <td>{{i[4]}}</td>
        <td></td>
        <td><a href="/review/{{i[1]}}">Reviews</a></td>
      {% endfor %}
    </tbody>
</table>
<br>

{% if session.user_id %}

<br>
<div class="container">
  <h3 class="text-white">Add Release</h3>
  <div class="row">
    <div class="col-3">
      <form method="post" style="color: white">
        <div class="form-group">
          <label for="song_name">Song</label>
          <input type="text" class="form-control" id="song_name" name="song_name">
        </div>
        <div class="form-group">
          <label for="album_name">Album</label>
          <input type="text" class="form-control" id="album_name" name="album_name">
        </div>
        <div class="form-group">
          <label for="artist_name">Artist</label>
          <input type="text" class="form-control" id="artist_name" name="artist_name">
        </div>
        <div class="form-group">
          <label for="year">Year</label>
          <input type="text" class="form-control" id="year" name="year">
        </div>
        <br>
        <input type="submit" class="btn btn-primary btn-block" value="Add">
      </form>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}